.ui.segments.bg.movies {
  margin-top: 0;
  border: 0;
}

.bg.movies .movies_table {
  overflow: auto;
  height: 100vh;
}

.bg.movies .movies_filters {
  max-width: 300px;
  min-width: 300px !important;
}
